
        body {
            /* background: #efefef; */
            font-family: 'Train One', cursive;
            
           
        }

        .title{
            font-size: 400%;
            
        }
        

        .wrap {
            /* max-width: 1080px; */
            margin: auto;
            background: #db5858;
            
        }

        .card {
            /* max-width: 300px; */
            width: 200%;
            flex-basis: 29.33%;
            margin: 2% 2% 2% 2%;
            /* 上は、上下左右の余白サイズに関してらしいよ */
            border: 1px #db5858 solid;
            
            
          
            
        }

        
      

        .txt {
            margin: 4% 6%;
            line-height: 1.3;
            font-size: 14px;
        }


        .card-wrap {
            display: flex;
            flex-wrap: wrap;
            font-family: 'Mochiy Pop One', sans-serif;
            
            
        }

        .displayed {
          padding: auto;              /* 余白指定 */
          background-color:  #db5858;    /* 背景色指定 */
          height: auto;              /* 高さ指定 */
          border: 1px solid #db5858;
          
          
         }

         .displayed1 {
          padding: 100pix;              /* 余白指定 */
          background-color:  #db5858;    /* 背景色指定 */
          height: 100pix;              /* 高さ指定 */
          border: 1px solid #db5858;

         }


        .fadeIn {
            text-align: center;
            padding: 80px 0 40px 0;
            font-size: 32px;
            animation-name: fadeInAnime;
            animation-duration:3s;
            animation-fill-mode:forwards;
            opacity: 0;
            }
            

            /*== 上に移動し影がついて浮き上がる */

/*ボタンの形状*/
.float3{
	position:relative;
	top:0;
    padding:10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
    margin:  0 auto;
}

.float1{
	position:relative;
	top:0;
    padding:30px 90px;
    display: inline-block;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
    margin: 0 auto;
    
}

/*hoverをしたらボックスに影がつき、上に上がる*/
.float3:hover {
	top:-3px;
	box-shadow: 0 7px 3px rgba(0, 0, 0, 0.3);
}

.float1:hover {
	top:-3px;
	box-shadow: 0 7px 3px rgba(0, 0, 0, 0.3);
}

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999;
      background:#333;
      text-align:center;
      color:#fff;
    }
    
    /* Loading画像中央配置　*/
    #splash_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    /* Loading アイコンの大きさ設定　*/
    #splash_logo img {
      width:700px;
    }
    
    /* fadeUpをするアイコンの動き */
    .fadeUp{
    animation-name: fadeUpAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
    }

    
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }

            
            @keyframes fadeInAnime{
              0% {
                opacity: 0;
              }
            
              100% {
                opacity: 1;
              }
            }


        @media screen and (max-width:500px) {

            /*　画面サイズが480px以下の場合ここの記述が適用される　*/
            h1 {
                color: rgb(0, 0, 0);
            }

            body {
                background: yellow;
            }

            .card {
                flex-basis: 100%;
            }

            .h-large {
                margin: 40px auto 24px;
                font-size: 24px;
            }
        }
    